body{
color: rgb(241, 17, 17);
background: rgb(247, 2, 2);
 margin: 0px;
 
  font-family: "Libre Baskerville", serif;
}

header {
border-bottom: solid 2px rgb(98, 42, 228);
padding: 20px;
font-size: 32px;
color: rgb(42, 122, 228);
}

section {
background: rgb(29, 77, 180);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img {
  height: 200px;
}

